:root {
  --light-gray: #d3d3d3;
  --flash-error-background: #f2dede;
  --flash-error-border: #eed3d7;
  --flash-error-text: #b94a48;
  --flash-success-background: #dff0d8;
  --flash-success-border: #d6e9c6;
  --flash-success-text: #468847;
}
